#!/usr/bin/env bash
# shellcheck disable=1090

function _bash_profile_exports() {
  local exports_dir="$HOME/.dotfiles/exports"
  local sources=(
    secrets
    proxy
    bash
    bash-prompt
    homebrew
    github
    composer
    nvm
    rbenv
    gnu-utils
    vim
    z
  )

  for file in "${sources[@]}"; do
    if [ -f "$exports_dir/$file" ]; then
      source "$exports_dir/$file";
    fi
  done

  # Add user `bin` folder to `$PATH`
  export PATH="$HOME/.dotfiles/bin:$PATH"
}

_bash_profile_exports
