#!/usr/bin/env bash
# shellcheck disable=1090

function _bash_profile_functions() {
  local base_dir="$HOME/.dotfiles/functions"
  local sources=(
    public
    private
    logging
    proxy
  )

  _bash_profile_includes "$base_dir" "${sources[@]}"
}

_bash_profile_functions
