# Private functions
/functions/private.sh

# Secret keys, tokens, etc.
/exports/secrets

# Personal data, caches, history files, etc.
/data/**/*
!/data/**/*.keep
!/data/**/*.secret

# Log files
*.log

# Ignore tmux plugins but keep the tpm git submodule
libs/tmux-plugins/*
!libs/tmux-plugins/tpm
