
# Local profile
.profile.local

# Private functions
/functions/private

# Secret keys, tokens, etc.
/exports/secrets

# Personal data
/data/vim-tmp/*
/data/z
/data/z.*
!/data/**/*.keep
!/data/**/*.secret

# Log files
*.log
libs/tmux-plugins
